<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDirectory">${bundle:config:log.directory}</Property>
        <Property name="logDirectory1">${bundle:config:log.directory1}</Property>
        <Property name="logDirectory2">${bundle:config:log.directory2}</Property>
    </Properties>
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <!--
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File> -->

            <RollingFile name="RollingFile" fileName="${logDirectory}/app.log"
                         filePattern="${logDirectory}/app_%d{yyyyMMdd_HH_mm_ss_}%i.log">
                <PatternLayout pattern="%d{yyyyMMdd.HH.mm.ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                <Policies>
                    <!-- This policy triggers a rollover when the log file size exceeds 50 MB -->
                    <SizeBasedTriggeringPolicy size="0.1 MB"/>
                </Policies>
                <DefaultRolloverStrategy max="10"/>
            </RollingFile>
        <RollingFile name="App1File" fileName="${logDirectory1}/app.log"
                     filePattern="${logDirectory1}/app_%d{yyyyMMdd_HH_mm_ss_}%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="0.1 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="App2File" fileName="${logDirectory2}/app.log"
                     filePattern="${logDirectory2}/app_%d{yyyyMMdd_HH_mm_ss_}%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="0.1 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
            <AppenderRef ref="RollingFile"/>

        </Root>
        <Logger name="FileLogger1" level="info" additivity="false">
            <AppenderRef ref="App1File"/>
        </Logger>

        <!-- Application 2 File Appender -->
        <Logger name="FileLogger2" level="info" additivity="false">
            <AppenderRef ref="App2File"/>
        </Logger>
    </Loggers>
</Configuration>


